DATABASE_URL=postgresql+asyncpg://postgres:password@postgres:5432/dbname
OPENAI_API_KEY=your_groq_or_openai_api_key

KAFKA_BOOTSTRAP_SERVERS=kafka:9092
AWS_ACCESS_KEY_ID=your_aws_access_key
AWS_SECRET_ACCESS_KEY=your_aws_secret_key
AWS_REGION=ap-south-1
AWS_S3_BUCKET=your_s3_bucket_name
