fastapi
uvicorn      
sqlalchemy  
psycopg2-binary
python-dotenv
python-jose
passlib
python-multipart
alembic
redis
celery         
gunicorn
pydantic_settings
Psycopg
asyncpg
kafka-python
opencv-python-headless
pytesseract
requests
openai
reportlab
